<div id="ac-sidebar">
    <div class="sidebar-top">
        <h1 class="ac-brand">Dignity</h1>
    </div>
    <div class="sidebar-mobile">
        <button id="mobile-sidebar-collapse" class="btn btn-primary btn-block scb" type="button">{$lang_interface['sidebar']['close_sidebar']}</button>
    </div>
    <div class="sidebar-content">
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-tachometer-alt"></i>{$lang_interface['dashboard']['dashboard']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="index.php">{$lang_interface['dashboard']['home']}</a>
                </li>
                <li>
                    <a href="index.php?view=cache">{$lang_interface['dashboard']['cache']}</a>
                </li>
                <li>
                    <a href="update.php">{$lang_interface['dashboard']['update']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="far fa-newspaper"></i>{$lang_interface['article']['articles']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="article.php">{$lang_interface['article']['all']}</a>
                </li>
                <li>
                    <a href="article.php?view=add">{$lang_interface['article']['add']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
            <i class="fas fa-copy"></i>{$lang_interface['page']['pages']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="page.php">{$lang_interface['page']['all']}</a>
                </li>
                <li>
                    <a href="page.php?view=add">{$lang_interface['page']['add']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-clipboard-list"></i>{$lang_interface['category']['category']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="category.php">{$lang_interface['category']['all']}</a>
                </li>
                <li>
                    <a href="category.php?view=add">{$lang_interface['category']['add']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-photo-video"></i>{$lang_interface['media']['media']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="media.php">{$lang_interface['media']['library']}</a>
                </li>
                <li>
                    <a href="media.php?view=upload">{$lang_interface['media']['upload']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-compass"></i>{$lang_interface['navigation']['navigation']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="navigation.php">{$lang_interface['navigation']['all']}</a>
                </li>
                <li>
                    <a href="navigation.php?view=add">{$lang_interface['navigation']['add']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-paint-brush"></i>{$lang_interface['appearance']['appearance']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="themes.php">{$lang_interface['appearance']['themes']}</a>
                </li>
                <li>
                    <a href="themes.php?view=add">{$lang_interface['appearance']['add_theme']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-plug"></i>{$lang_interface['extensions']['extensions']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="extensions.php?view=languages">{$lang_interface['extensions']['languages']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-user"></i>{$lang_interface['user']['users']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="user.php">{$lang_interface['user']['all']}</a>
                </li>
                <li>
                    <a href="user.php?view=add">{$lang_interface['user']['add']}</a>
                </li>
                <li>
                    <a href="user.php?view=profile">{$lang_interface['user']['profile']}</a>
                </li>
            </ul>
        </div>
        <div class="ac-sidebar-collapse-link">
            <a class="ac-sidebar-collapse-toggle" data-toggle="ac-collapse" aria-expanded="false">
                <i class="fas fa-cogs"></i>{$lang_interface['settings']['settings']}</a>
            <ul class="list-unstyled ac-collapse">
                <li>
                    <a href="settings.php">{$lang_interface['settings']['general']}</a>
                </li>
                <li>
                    <a href="settings.php?view=maintenance">{$lang_interface['settings']['maintenance']}</a>
                </li>
                <li>
                    <a href="settings.php?view=seo">{$lang_interface['settings']['seo']}</a>
                </li>
                <li>
                    <a href="settings.php?view=media">{$lang_interface['settings']['media']}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-bottom">
        <div class="sidebar-bottom-table">
            <div>
                <a href="article.php?view=add" n:attr="title => $lang_interface['article']['add']">
                    <i class="far fa-newspaper"></i>
                </a>
            </div>
            <div>
                <a href="page.php?view=add" n:attr="title => $lang_interface['page']['add']">
                    <i class="fas fa-copy"></i>
                </a>
            </div>
            <div>
                <a href="media.php?view=upload" n:attr="title => $lang_interface['media']['upload']">
                    <i class="fas fa-photo-video"></i>
                </a>
            </div>
            <div>
                <a href="login.php?action=logout" n:attr="title => $lang_interface['logout']">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>