{block content}
    <h1>{$content_details->title}</h1>
    <div>
        <p class="m-0">{$content_details->author->firstname}&nbsp;{$content_details->author->lastname}</p>
        <p class="m-0">{$content_details->date|date: 'd.m.Y'}</p>
        <p class="m-0"><strong>Hits:</strong>&nbsp;{$content_details->hits}</p>
    </div>
    <hr>
    {$content}
{/block}